################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
FindTheBooty/\.vs/config/applicationhost\.config

FindTheBooty/\.vs/FindTheBooty/v14/\.suo
