################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FindTheBooty/FindTheBooty/bin/**
/FindTheBooty/FindTheBooty/obj/**