@{
    ViewBag.Title = "About";
}


<script>
    var jumboHeight = $('.wumbotron1').outerHeight();
    function parallax() {
        var scrolled = $(window).scrollTop();
        $('.splashbg').css('height', (jumboHeight - scrolled) + 'px');
    }

    $(window).scroll(function (e) {
        parallax();
    });
</script>
<div class="splashbg"></div>
<div class="wumbotron1">
    <h1>@ViewBag.Title</h1>
    <h3 class="kaushanScript">Swiggity swooty I'm comin' for tha booty</h3>
     <p>Find The Booty was developed using Microsoft .NET MVC and Bootstrap CSS by Javalanche Studios.
        Bootstrap is a mobile-first framework that offers modern styling to web development.
        Our goal was to create a game that anyone with a smartphone and an internet connection to play.
        </p>
    
</div>
<h3 style="margin-top: -50px;"class="kaushanScript">Javalanche Studios Crew:</h3>
<p>Captain Riya Gharat, Michael Frederick, Kevin Janssen, Mai Nguyen, Kevin Poon, Dave Timmers, and Brandon White</p>

<h3 class="kaushanScript">Special Thanks:</h3>
<ul class="list-unstyled">
    <li>Doug Leas</li>
    <li>Karthekan Umapathy</li>
    <li>Walt Schuller</li>
    <li>Stack Overflow</li>
    <li>Coffee</li>
</ul>
