@{
    ViewBag.Title = "Splash Page";
}

<!-- Start parallax wumbotron -->

<div class="splashbg"></div>
<div class="wumbotron">
    <div class="row">
        <div class="col-md-4">
            <center>
                <img src="~/Content/Images/ms-icon-150x150.png" />
                <h1 class="kaushanScript">Splash Page</h1>
                <p class="lead">Arr matey! Let's find some booty!</p>
            </center>
        </div>
    </div>
</div>

<script>
    var jumboHeight = $('.wumbotron').outerHeight();
    function parallax() {
        var scrolled = $(window).scrollTop();
        $('.splashbg').css('height', (jumboHeight - scrolled) + 'px');
    }

    $(window).scroll(function (e) {
        parallax();
    });
</script>
<!-- end parallax wumbotron -->



<div class="row text-center">
    <p>
        <a class="btn btn-primary btn-lg outline kaushanScript" href="/Home/Login">Login</a>
        <a class="btn btn-primary btn-lg outline kaushanScript" href="/Home/Register">Register</a>
    </p>
    <div class="col-lg-12">
    <p>
        Find The Booty is a free, web-based treasure hunting game created by Javalanche Studios.
        All you need is a camera and an internet connection! Login and start playing now!
        <a href="/Home/About">Learn More >></a>
    </p>
        
        
</div>
</div>



