@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <!-- template test column -->
    <div class="col-md-4">
        <h2>Login Test Page</h2>
        <p>
            This here is a link to the login placeholder test page. Click the button below to check it out!
        </p>
        <p><a class="btn btn-default" href="/Home/Login">Check it out &raquo;</a></p>
    </div>
    <!-- end template test column -->

    <div class="col-md-4">
        <h2>Register Test Page</h2>
        <p>
            This here is a link to the register placeholder test page. Click the button below to check it out!
        </p>
        <p><a class="btn btn-default" href="/Home/Register">Check it out &raquo;</a></p>
    </div>
</div>