@{
    ViewBag.Title = "Check Yer Booty!";
}

<div class="row">
    <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8">
        <div style="width: 100%; margin-bottom: 2em;"><img class="center-block img-rounded" src="http://placehold.it/250/?text=FTB" /></div>
        <div style="width:100%;">
            <h2 class="center-block">Check Yer Booty, Matey!</h2>
        </div>
        <form>
            <div class="form-group">
                <label for="">Email Address</label>
                <input class="form-control" id="userEmail" placeholder="Email"></input>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" id="userPassword" placeholder="Password"></input>
            </div>

            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <button tyle="submit" class="btn btn-primary">Login</button>
                    <button type="reset" class="btn btn-danger">Clear Form</button>
                </div>
            </div>
            <div style="margin-top: 60px;">
                <h4>Don't have an account?</h4>
                <a href="#">Sign Up Today!</a>
                <h4>Forgot Something?</h4>
                <a href="#">Let's try to find it</a>
            </div>
        </form>
    </div>
</div>