@model FindTheBooty.Models.DoHuntList
@{
    var HuntName = Model.Hunt.hunt_name;
    var HuntID = Request.RequestContext.RouteData.Values["id"];

    ViewBag.Title = HuntName;
}

<div class="modal fade" id="scan-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Scan your treasure here, Matey!</h4>
            </div>
            <div class="modal-body">
                <p id="modal-alert" class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <span id="modal-alert-content"></span>
                </p>
                <div id="scan-progress" class="progress" style="display:none;">
                    <div id="scan-progress-bar" class="progress-bar" role="progressbar" style="width: 0%; min-width: 2em;">0%</div>
                </div>
                <form id="qr-form" type="multipart/form-data" action="javascript:submitTreasure()">
                    <input name="qr-image" type="file" accept="image/*;capture=camera" /><br />
                    <button class="btn btn-primary">Upload QR Code Image</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="md-col-12 col-sm-12 col-xs-12">

        <a href="/Participating/JoinedHunts" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back to Joined Hunts
        </a>

        <h3>Your Hunt Progress</h3>
        <em>How much progress have you made in @HuntName?</em>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 66%;">
                66%
                <span class="sr-only">66% Complete</span>
            </div>
        </div>
        @*
            Show progress bar of hunt for:
            * FFA
            * Sequential or nah?
        *@

        <h3>Treasure(s)</h3>
        <p><strong>Filter: </strong>
            <span class="btn-group">
                <button id="filter-all-btn" class="btn btn-default">Show All</button>
                <button id="filter-found-btn" class="btn btn-default" style="color: green;">Found <span class="glyphicon glyphicon-ok"></span></button>
                <button id="filter-missing-btn" class="btn btn-default" style="color: darkred;">Missing <span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </p>

        <hr />

        @Html.DisplayFor(Model => Model.TreasureList)

        <div class="row">
            <div id="1-found" class="col-md-4 col-sm-12 col-xs-12">
                <p><strong>Name: </strong> Treasure 1</p>
                <p>
                    <strong>Status: </strong>
                    <span style="color: green;">
                        Found <span class="glyphicon glyphicon-ok"></span>
                    </span>
                </p>
                <img class="img-responsive" src="http://placehold.it/400x400" />


                <div class="col-sm-12 col-xs-12 visible-sm visible-xs hidden-md hidden-lg">
                    <hr />
                </div>
            </div>
            <div id="2-found" class="col-md-4 col-sm-12 col-xs-12">
                <p><strong>Name: </strong> Treasure 2</p>
                <p>
                    <strong>Status: </strong>
                    <span style="color: green;">
                        Found <span class="glyphicon glyphicon-ok"></span>
                    </span>
                </p>
                <img class="img-responsive" src="http://placehold.it/400x400" />


                <div class="col-sm-12 col-xs-12 visible-sm visible-xs hidden-md hidden-lg">
                    <hr />
                </div>
            </div>


            <div id="3-missing" class="col-md-4 col-sm-12 col-xs-12">
                <div class="pull-right">
                    <button id="3-scan" class="btn btn-default"><span class="glyphicon glyphicon-qrcode"></span> Scan Treasure</button>
                </div>
                <div class="pull-left">
                    <p><strong>Name: </strong> Treasure 3</p>
                    <p>
                        <strong>Status: </strong>
                        <span style="color: darkred;">
                            Missing <span class="glyphicon glyphicon-remove"></span>
                        </span>
                    </p>
                </div>
                <div class="clearfix"></div>
                <img class="img-responsive" src="http://placehold.it/400x400" />
            </div>
        </div>

        <script>
            // START filter button listeners
            $("#filter-all-btn").click(function (e) {
                e.preventDefault();
                $("[id$=-missing]").show();
                $("[id$=-found]").show();
            });

            $("#filter-found-btn").click(function (e) {
                e.preventDefault();
                $("[id$=-missing]").hide();
                $("[id$=-found]").show();
            });

            $("#filter-missing-btn").click(function (e) {
                e.preventDefault();
                $("[id$=-found]").hide();
                $("[id$=-missing]").show();
            });
            // END filter button listeners

            // START scan treasure modal popup
            $("button[id$='-scan']").click(function (e) {
                e.preventDefault();

                $("#modal-alert-content").html("<strong>Instructions:</strong> Select the camera app or file to upload first, then upload the QR Code image.");
                $("#modal-alert").removeClass('alert-danger');
                $("#modal-alert").removeClass('alert-success');
                $("#modal-alert").addClass('alert-info');
                $("#scan-modal").modal('show');
            });
            //END scan treasure modal popup

            // START submitTreasure function
            // used for AJAX request to submit treasure QR
            function submitTreasure() {
                $.ajax({
                    url: "/Participating/UploadQR",
                    type: "POST",
                    // Form data
                    data: new FormData($('#qr-form')[0]),

                    // jQuery doesn't need to process this stuff
                    cache: false,
                    contentType: false,
                    processData: false,

                    // function to process image upload
                    xhr: function () {
                        var XhrObj = $.ajaxSettings.xhr();
                        if (XhrObj.upload) {
                            XhrObj.upload.addEventListener('progress', function (e) {
                                $("#scan-progress").show();
                                var progress = (e.loaded / e.total) * 100;

                                $("#scan-progress-bar").css('width', progress + "%");
                                $("#scan-progress-bar").html(progress + "%");
                            });
                        }
                        return XhrObj;
                    },
                    complete: function (e) {
                        var statusMsg = "Treasure was successfully scanned! Your page is being refreshed.";
                        setTimeout(function () {
                            $("#scan-progress").hide()
                        }, 1000);
                        if (e.responseJSON.success == -1) {
                            statusMsg = "QR Code did not match format.";
                            $("#modal-alert").removeClass('alert-info');
                            $("#modal-alert").removeClass('alert-success');
                            $("#modal-alert").addClass('alert-danger');
                            $("#modal-alert-content").html(statusMsg);
                        }
                        if (e.responseJSON.success == 0) {
                            statusMsg = "Image failed to upload.";
                            $("#modal-alert").removeClass('alert-info');
                            $("#modal-alert").removeClass('alert-success');
                            $("#modal-alert").addClass('alert-danger');
                            $("#modal-alert-content").html(statusMsg);

                        }
                        if (e.responseJSON.success == 1) {
                            $("#modal-alert").removeClass('alert-info');
                            $("#modal-alert").removeClass('alert-danger');
                            $("#modal-alert").addClass('alert-success');
                            $("#modal-alert-content").html(statusMsg);
                            setTimeout(function () {
                                location.reload();
                            }, 3000);
                        }

                    }
                });
            }
            // END submitTreasure function
        </script>

        @*
            If FFA show full list of treasures
            If sequential, show next in list
        *@


    </div>
</div>