
@{
    ViewBag.Title = "Hunt Dashboard";
}

<div class="row">

    <div class="col-md-12 col-sm-12">

        <h2>Hunt Dashboard</h2>
        <em>What would you like to do?</em>

        <div style="margin-top: 1em;">
            <a href="/Participating/JoinableHunts" class="btn btn-success">Join a Hunt</a>
            <a href="/Participating/JoinedHunts" class="btn btn-default">Continue a Hunt</a>
        </div>

    </div>

</div>