@{
    ViewBag.Title = "Join a Hunt";
}

<h2>Join a Hunt</h2>
<h4><i>Click Hunt Name to Join a Hunt</i></h4>

<table class="table table-striped" style="background-color: #FFF;">
    <tr>
        <th>Hunt Name</th>
        <th>Type of Hunt</th>
        <th>End Time</th>
        <th>Actions</th>
    </tr>

    @*This is where you would iterate for X number of results in the model (loaded on page fire)*@
    @model FindTheBooty.Models.JoinableHuntList

    @if (Model.JoinHuntError) {
        <div class="alert alert-danger"><strong>ERROR:</strong> Sorry, an error has occurred while trying to join the hunt!</div>
    }

    @* May need to change the format of this and the model down the road *@
    @Html.DisplayFor(Model => Model.HuntList)
</table>