@model FindTheBooty.Models.GeneratedModels.hunt
@{
    var HuntID = Model.hunt_id;
    var HuntName = Model.hunt_name;
    ViewBag.Title = "You have joined a hunt!";
}

<div class="row">
    <div class="md-col-12 col-sm-12 col-xs-12">

        <h2 class="kaushanScript">You've joined a hunt!</h2><!-- Notifies the user that they have joined a hunt -->

        <p>You have joined the "@HuntName" Hunt!</p><!-- Displays the name of the hunt that they have joined -->

        <h3>What's next?</h3>
        <a href="/Participating/DoHunt/@HuntID" class="btn btn-success">Continue to Hunt</a><!-- Prompts the user to continue to the hunt -->
        <a href="/" class="btn btn-default">Return to Dashboard</a><!-- Otherwise they have the option to return to the dashboard -->

    </div>
</div>