@model IEnumerable<FindTheBooty.Models.GeneratedModels.user>

@{
    ViewBag.Title = "Leaderboard";
}

<h2>Leaderboard</h2>
<h4><i>The most feared pirates on the seas!</i></h4>

        <div style="margin-top: 1em;">
            <a href="/Leaderboard/Rank" class="btn btn-default">Famous Pirates</a>
            <a href="/Leaderboard/Points" class="btn btn-default">Gold Claimed</a>
            <a href="/Leaderboard/Hunts" class="btn btn-default">Seas Pillaged</a>
            <a href="/Leaderboard/Treasures" class="btn btn-default">Booty Collection</a>
        </div>
