@model FindTheBooty.Models.Hunt

<tr>
    <td><a href="/Participating/Hunt?id=@Model.huntID">@Model.huntName</a></td>
    <td>@Model.huntType</td>
    <td>@Model.endDateTime</td>
    <td><a href="">View Actions</a></td>
</tr>