
@{
    // Anything to should need on the View has to be placed inside the ViewBag.
    // Read more here: http://www.binaryintellect.net/articles/36941654-8bd4-4535-9226-ddf47841892f.aspx
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <!-- template test column -->
    <div class="col-md-4">
        <h2>Login Test Page</h2>
        <p>
            This here is a link to the login placeholder test page. Click the button below to check it out!
        </p>
        <p><a class="btn btn-default" href="/Home/Login">Check it out &raquo;</a></p>
    </div>
    <!-- end template test column -->

    <div class="col-md-4">
        <h2>Register Test Page</h2>
        <p>
            This here is a link to the register placeholder test page. Click the button below to check it out!
        </p>
        <p><a class="btn btn-default" href="/Home/Register">Check it out &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p>
            The letter of the Day is @ViewBag.RandomCharacter <br /> Otherwise the number is @ViewBag.RandomNumber 
        </p>
        <p><a class="btn btn-default">I do nothing.</a></p>
    </div>
</div>