
@{
    // Anything to should need on the View has to be placed inside the ViewBag.
    // Read more here: http://www.binaryintellect.net/articles/36941654-8bd4-4535-9226-ddf47841892f.aspx
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<html>
<head>
        <div class="title">
            <p>Welcome to the Admin Page </p>
        </div>
        <div class="btn-group">
            <div class="headers"><p> Import or Export Bulk Data </p></div>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-import"></span> Import
            </button>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-export"></span> Export
            </button>
        </div>
        <br></br>
        <div class="btn-group">
            <div class="headers"><p> View Reports </p></div><div>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-file"></span>  Treasures Found Graph
                </button>
            </div>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-file"></span>  System Engagement Graph
            </button>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-file"></span>  Total Play Time Graph
            </button>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-file"></span>  Types of Hunts Graph
            </button>
        </div>
        <br></br>
        <div class="btn-group">
            <div class="headers"><p> Upgrade User to Creator </p></div>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-open"></span> Upgrade
            </button>
        </div>
        <br></br>
        <div class="btn-group">
            <div class="headers"><p> View Scoreboard </p></div>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> Scoreboard
            </button>
        </div>
    </div>

</body>
</html>