
@{
    // Anything to should need on the View has to be placed inside the ViewBag.
    // Read more here: http://www.binaryintellect.net/articles/36941654-8bd4-4535-9226-ddf47841892f.aspx
    ViewBag.Title = "Admin";
}
<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Admin Page</h1>
</div>
<div class="btn-group"> <!-- Button group for the Import/ Export with links to each page -->
    <div class="headers"><p> Import or Export Bulk Data </p></div>
    <a class="btn btn-default" href="/Admin/BulkImport">
        <span class="glyphicon glyphicon-import"></span> Import
    </a>
    <a class="btn btn-default" href="/Admin/BulkExport">
        <span class="glyphicon glyphicon-export"></span> Export
    </a>
</div>
<br>
<div class="btn-group"> <!-- Button group for the graphs with links to each page -->
    <div class="headers"><p> View Reports </p></div>
    <div>
        <a class="btn btn-default" href="/Admin/TreasuresFound">
            <span class="glyphicon glyphicon-file"></span>  Treasures Found Graph
        </a>
    </div>
    <div>
        <a class="btn btn-default" href="/Admin/PirateDistribution">
            <span class="glyphicon glyphicon-file"></span>  Pirate Distribution Graph
        </a>
    </div>
    <div>
        <a class="btn btn-default" href="/Admin/TypesOfUsers">
            <span class="glyphicon glyphicon-file"></span>  Types of Users Graph
        </a>
    </div>
</div>
<br>
<div class="btn-group">  <!-- Button group for the Upgrade User with link to the page -->
    <div class="headers"><p> Upgrade User to Creator </p></div>
    <a class="btn btn-default" href="/Admin/UpgradeUser">
        <span class="glyphicon glyphicon-open"></span> Upgrade
    </a>
</div>