@{
    ViewBag.Title = "BulkExport";
}

<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Bulk Export page</h1>
</div>
<div>
    <p>
        From this page you can perform a bulk export of data from the database.  The data that can be generated using the bulk export tool
        is specific to Find The Booty treasures.  This tool will generate a list of all the treasures currently in the Find The Booty database.
        This list of treasures will be formatted into a Microsoft Excel spreadsheet.  The spreadsheet will automatically be downloaded after
        it is generated.  Click the Export Data button below to perform an export or the Back button to return to the previous page.  
    </p>
</div>
<div>
        <a href="/Admin/PerformExport" class="btn btn-info" role="button">Export Data</a>
        <a href="/Admin/Admin" class="btn btn-info" role="button">Back</a>
</div>