@{
    ViewBag.Title = "BulkImport";
}

<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Bulk Import page</h1>
</div>
<div>
    <a href="/Admin/Admin" class="btn btn-info" role="button">Back</a>
</div>