@{
    ViewBag.Title = "PerformImport";
}

<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Bulk Import page</h1>
</div>
<div>
    <p>
        Your CSV file was imported successfully.  The data in the file is now available in the database.
        Click a button below to be redirected to another page.
    </p>
</div>

<div>
    <a href="/Admin/Admin" class="btn btn-info" role="button">Admin Page</a>
    <a href="/Admin/BulkImport" class="btn btn-info" role="button">Import Page</a>
</div>