@{
    ViewBag.Title = "PerformExport";
}

<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Bulk Export page</h1>
</div>
<div>
    <p><!-- Success message for the user that the information in the DB has been exported as a .xls file -->
        Your download was successful!  The exported data can be found in the download directory specified for your operating system.
        The file is titled "treasuresExport.xls".
    </p>
</div>
<div>
    <a href="/Admin/Admin" class="btn btn-info" role="button">Admin Page</a><!-- This button returns you to the Admin Landing Page -->
    <a href="/Admin/BulkExport" class="btn btn-info" role="button">Export Page</a><!-- This button returns you to the Export page if you wish to Export Again -->
</div>