
@{
    ViewBag.Title = "PromoteUser";
}

<div class="title">
    <h2>PromoteUser</h2>
</div>
<div class="row">
    <div class="col-xs-12">
        The user: @ViewBag.user has been upgraded to Creator.
    </div>
</div>
