@{
    ViewBag.Title = "TotalPlayTime";
}

<!-- Might not be able to implement this one. -->

<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Total Play Time Graph</h1>
</div>
<div>
    <a href="/Admin/Admin" class="btn btn-info" role="button">Back</a>
</div>