@{
    ViewBag.Title = "TypesOfUsers";
}

<!-- Queries needed for getting data for pie charts
SELECT * FROM [user] WHERE [user_type] = 'User';
SELECT * FROM [user] WHERE [user_type] = 'Admin';
SELECT * FROM [user] WHERE [user_type] = 'Creator';
-->

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Type of Users Graph</h1>
    
</div>
<div><!-- Displays the chart from the Model -->
    @model DotNet.Highcharts.Highcharts

    @(Model)
</div>
<div>
    <a href="/Admin/Admin" class="btn btn-info" role="button">Back</a><!-- Back button for the User to return to the Admin Landing Page-->
</div>