@{
    ViewBag.Title = "TypesOfHunt";
}

<!-- Queries needed for getting data for pie charts
SELECT * FROM [hunt] WHERE [hunt_type] = 'Timed FFA';
SELECT * FROM [hunt] WHERE [hunt_type] = 'Timed Sequential';
SELECT * FROM [hunt] WHERE [hunt_type] = 'FFA';
    // CHANGE TO TYPES OF USERS
-->

<div class="title">
    <h1 class="bilbo-swash-caps">Welcome to the Type of Hunts Graph</h1>
</div>
<div>
    <a href="/Admin/Admin" class="btn btn-info" role="button">Back</a>
</div>