@model FindTheBooty.Models.UpgradeUserViewModel;
@{
    ViewBag.Title = "Upgrade User";
}

<div class="title">
        <h1 class="bilbo-swash-caps">Welcome to the Upgrade User Page </h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<br />
<div>
    <a href="/Admin/Admin" class="btn btn-info" role="button">Back</a>
</div>