@{
    ViewBag.Title = "Print Hunt QR Codes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <div class="row hidden-print">
        <div class="col-xs-12">
            <h1 class="kaushanScript">Generated Hunt Codes</h1>
            <p>Here are the generated codes for your hunt. Please print and attach to treasures for other pirates to find.</p>
        </div>
    </div>
    if (ViewBag.treasureList != null)
    {
        int count = 0;
        List<FindTheBooty.Models.GeneratedModels.treasure> treausreList = (List<FindTheBooty.Models.GeneratedModels.treasure>)ViewBag.treasureList;
        <div class="row">
            @foreach (FindTheBooty.Models.GeneratedModels.treasure treasure in treausreList)
            {
                if (count % 4 == 0)
                { @Html.Raw("</div><div class=\"pagebreak row\">") }
                <div class="col-xs-6 col-md-4 col-lg-3 text-center">
                    <div class="qr-print-border">
                        <h4 class="visible-print">FindTheBooty &trade;</h4>
                        <img src="@Url.Content("~/Content/Codes/" + treasure.hunt_hunt_id.ToString() + "/" + treasure.hunt_hunt_id.ToString() + "-" + treasure.treasure_id.ToString() + ".png")" alt="treasureId" class="padding good-image" />
                        <h4>@treasure.description</h4>
                        <h4 class="visible-print">FindTheBooty &trade;</h4>
                    </div>
                </div>
                count++;
            }
        </div>
    }
}