
@{
    ViewBag.Title = "Page Not Found";
}

<h2>Abandon Ship!</h2>
<p>Oops! The page you were trying to reach could not be found.</p>

<a href="/" class="btn btn-primary btn-lg outline kaushanScript">Back to Splash Page</a>

