/* fonts 

font-family: 'Jim Nightshade', cursive;

font-family: 'Kaushan Script', cursive;

font-family: 'Great Vibes', cursive;

font-family: 'Tangerine', cursive;

font-family: 'Italianno', cursive;

font-family: 'La Belle Aurore', cursive;

font-family: 'Bilbo Swash Caps', cursive;

font-family: 'Dawning of a New Day', cursive; */



/* latin-ext */
@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Swash Caps'), local('BilboSwashCaps-Regular'), url(https://fonts.gstatic.com/s/bilboswashcaps/v7/UB_-crLvhx-PwGKW1oosDo218ryL1NyE3iq50Mso_MU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Swash Caps'), local('BilboSwashCaps-Regular'), url(https://fonts.gstatic.com/s/bilboswashcaps/v7/UB_-crLvhx-PwGKW1oosDhj-AqoPRuAbf1eZyhj8Aik.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Dawning of a New Day';
  font-style: normal;
  font-weight: 400;
  src: local('Dawning of a New Day'), local('DawningofaNewDay'), url(https://fonts.gstatic.com/s/dawningofanewday/v7/JiDsRhiKZt8uz3NJ5xA06sXt6O2RzdGnaiPim4oAiF0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3SYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(https://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  src: local('Italianno'), local('Italianno-Regular'), url(https://fonts.gstatic.com/s/italianno/v6/r8-H81S5And8WyrrbOrbExJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  src: local('Italianno'), local('Italianno-Regular'), url(https://fonts.gstatic.com/s/italianno/v6/RzzA8gdr3WCK_nxdg53KGltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Jim Nightshade';
  font-style: normal;
  font-weight: 400;
  src: local('Jim Nightshade'), local('JimNightshade-Regular'), url(https://fonts.gstatic.com/s/jimnightshade/v4/_n43lYHXVWNgXegdYRIK9ATk6Kx6rt5BLQDHdZhIGiE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jim Nightshade';
  font-style: normal;
  font-weight: 400;
  src: local('Jim Nightshade'), local('JimNightshade-Regular'), url(https://fonts.gstatic.com/s/jimnightshade/v4/_n43lYHXVWNgXegdYRIK9NJmD_dqQ94bUc_vtZFnud0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v5/qx1LSqts-NtiKcLw4N03IO87R-l0-Xx_7cYc0ZX1ifE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v5/qx1LSqts-NtiKcLw4N03IEd0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'), url(https://fonts.gstatic.com/s/labelleaurore/v7/Irdbc4ASuUoWDjd_Wc3md8dxVGbf3qyhvoXHfU-LjZg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine'), url(https://fonts.gstatic.com/s/tangerine/v7/HGfsyCL5WASpHOFnouG-RFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Jim Nightshade font */

.jimNightShade {
    font-family: 'Jim Nightshade', cursive;
}

@media screen and (min-width: 990px){
    .treasure-box {
        margin-top: 1em;
    }
}

.borderless, .borderless>tbody>tr>td {
    border: none;
}

.no-padding, .no-padding>tbody>tr>td {
    padding: 0px !important;
}

/* Kaushan Script font */
.kaushanScript {
    font-family: 'Kaushan Script', cursive;
}

.splashbg {
  background: url('./Images/ship.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px;  
  top:0;
  left:0;
  z-index: -1;
}

.wumbobg2 {
  background: url('./Images/schooner.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 400px; 
  top:0;
  left:0;
  z-index: -1;
}

.wumbotron1 {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  
  text-shadow: black 0.1em 0.1em 0.1em;
      
  background:transparent;
}

.wumbotron2 {
  margin-bottom: 0px;
  height: 200px;
  color: white;
  background-image: url('./Images/schooner.jpg');
  text-shadow: black 0.1em 0.1em 0.1em;
      
  background:transparent;
}

/* start parchment paper look */
css {
    height: 100% !important;
}

body {
    background-image: url(./Images/subtle-grunge.png) !important;
    background-color: #F1F1D4 !important;
}
/* end parchment paper look */

hr {
    border-color: burlywood !important;
}

.header .btn-inverse {
  margin-top: 8px;
  color: #FFF;
  background-color: #333;
  border-color: #DDD;
}

.header .btn-inverse:hover {
  background-color: #444 !important;
  color: #FFF !important;
}

.header .btn-inverse:active {
  background-color: #AAA !important;
  color: #000 !important;
}

#nav-logo {
  float: right;
  font-family: "Jim Nightshade" !important;
  color: #FFF !important;
  font-size: x-large;
  line-height: 50px;
  vertical-align: middle;
}

/* --- SIDEBAR MENU SCROLLBAR STYLE START --- */
#sidr::-webkit-scrollbar {
    width: 8px;
}

#sidr::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#sidr::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* --- SIDEBAR MENU SCROLLBAR STYLE END --- */

#sidr span {
  padding: 0px;
  display: inline;
}

.danger a {
  color: #DD0000 !important;
}

.danger .glyphicon {
  color: #DD0000 !important;
}

.great-vibes{
    font-family: 'Great Vibes', cursive;
}

.tangerine{
    font-family: 'Tangerine', cursive;
}

.italianno{
    font-family: 'Italianno', cursive;
}

.la-belle-aurore{
    font-family: 'La Belle Aurore', cursive;
}

.bilbo-swash-caps{
    font-family: 'Bilbo Swash Caps', cursive;
}

.dawning-of-a-new-day{
    font-family: 'Dawning of a New Day', cursive; 
}


/* --- SEARCH BAR --- */
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/* --- END SEARCH BAR --- */

/*button outline*/
.btn.outline {
	background: none;
	padding: 10px 25px;
}
.btn-primary.outline {
    border: 2px solid #000000;
    color: #000000;
    width: 150px;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #7bdcf1;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #a6e6ff;
    color: white;
    box-shadow: none;
}

/* Kaushan Script font */
.kaushanScript {
    font-family: 'Kaushan Script', cursive;
}

.splashbg {
  background: url('./Images/ship.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px;  
  top:0;
  left:0;
  z-index: -1;
}

.wumbobg2 {
  background: url('./Images/schooner.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 200px; 
  top:0;
  left:0;
  z-index: -1;
}

.wumbotron1 {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
  background:transparent;
}

.wumbotron2 {
  margin-bottom: 0px;
  height: 200px;
  color: white;
  background-image: url('./Images/schooner.jpg');
  text-shadow: black 0.1em 0.1em 0.1em;
      
  background:transparent;
}

/* start parchment paper look */
css {
    height: 100% !important;
}

body {
    background-image: url(./Images/subtle-grunge.png) !important;
    background-color: #F1F1D4 !important;
}
/* end parchment paper look */

hr {
    border-color: burlywood !important;
}

.header .btn-inverse {
  margin-top: 8px;
  color: #FFF;
  background-color: #333;
  border-color: #DDD;
}

.header .btn-inverse:hover {
  background-color: #444 !important;
  color: #FFF !important;
}

.header .btn-inverse:active {
  background-color: #AAA !important;
  color: #000 !important;
}

#nav-logo {
  float: right;
  font-family: "Jim Nightshade" !important;
  color: #FFF !important;
  font-size: x-large;
  line-height: 50px;
  vertical-align: middle;
}

/* --- SIDEBAR MENU SCROLLBAR STYLE START --- */
#sidr::-webkit-scrollbar {
    width: 8px;
}

#sidr::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#sidr::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* --- SIDEBAR MENU SCROLLBAR STYLE END --- */

#sidr span {
  padding: 0px;
  display: inline;
}

.danger a {
  color: #DD0000 !important;
}

.danger .glyphicon {
  color: #DD0000 !important;
}

.great-vibes{
    font-family: 'Great Vibes', cursive;
}

.tangerine{
    font-family: 'Tangerine', cursive;
}

.italianno{
    font-family: 'Italianno', cursive;
}

.la-belle-aurore{
    font-family: 'La Belle Aurore', cursive;
}

.bilbo-swash-caps{
    font-family: 'Bilbo Swash Caps', cursive;
}

.dawning-of-a-new-day{
    font-family: 'Dawning of a New Day', cursive; 
}


/* --- SEARCH BAR --- */
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/* --- END SEARCH BAR --- */

/*button outline*/
.btn.outline {
	background: none;
	padding: 10px 25px;
}
.btn-primary.outline {
    border: 2px solid #000000;
    color: #000000;
    width: 150px;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #7bdcf1;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #a6e6ff;
    color: white;
    box-shadow: none;
}
/* Generic Padding classes */

.padding {
    padding: 1em;
}

.padding-left {
    padding-left: 1em;
}

.padding-right {
    padding-right: 1em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.padding-top {
    padding-top: 1em;
}

.padding-2 {
    padding: 2em;
}

.padding-left-2 {
    padding-left: 2em;
}

.padding-right-2 {
    padding-right: 2em;
}

.padding-bottom-2 {
    padding-bottom: 2em;
}

.padding-top-2 {
    padding-top: 2em;
}

/* For good images, use this css class. Make the container the correct size not the image */

.good-image {
    width: 100%;
}

/* For print border */

.qr-print-border {
    border: .5em solid black;
    margin: .5em;
}

.pagebreak {
    page-break-before: always;
}